In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("./tokenizer_input.csv")

In [5]:
data.head()

,Keyperson,keyinstn,longname,persontext
0,1001878630,100130,"AMCORE Financial, Inc.","Mr. Thomas Henry Bolgert, also known as Tom, C..."
1,177476,100282,First Regional Bancorp,"Mr. Steven J. Sweeney, also known as Steve, se..."
2,177475,100701,Capital Corp of the West,Bertyl W. Johnson had been a Director of Capit...
3,1005199712,100903,Vineyard National Bancorp,Mr. Demetri Snow was a Regional President of S...
4,716972,102805,Harbourton Financial Services L.P.,Mr. Kevin John Ryan is the Chief Financial Off...

In [9]:
len([i for i in data.columns])

4

In [22]:
data.iloc[0][0]

1001878630